[Unit]

[Service]
Type=simple
User=root
ExecStart=/root/fbcp-ili9341/build/fbcp-ili9341
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
